<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
		<script type="text/javascript" src="/lib/handlebars-v3.0.3.js"></script>
		<script type="text/javascript" src="/lib/backbone.viewmaster.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/models/recipe.js"></script>
		<script type="text/javascript" src="/js/models/date.js"></script>
		<script type="text/javascript" src="/js/collections/recipes.js"></script>
		<script type="text/javascript" src="/js/collections/dates.js"></script>
		<script type="text/javascript" src="/js/views/recipe.js"></script>
		<script type="text/javascript" src="/js/views/dropdown.js"></script>
		<script type="text/javascript" src="/js/views/dropdown_row.js"></script>
		<script type="text/javascript" src="/js/views/recipe_container.js"></script>
		<script type="text/javascript" src="/js/views/row.js"></script>
		<script type="text/javascript" src="/js/views/menu.js"></script>
		<script type="text/javascript" src="/js/views/header.js"></script>
		<script type="text/javascript" src="/js/views/footer.js"></script>
		<script type="text/javascript" src="/js/views/filters.js"></script>
		<script type="text/javascript" src="/js/routers/router.js"></script>
		<script type="text/javascript" src="/js/helper.js"></script>
		<link rel="shortcut icon" href="https://www.blueapron.com/favicon.ico" />
		<title>On The Menu</title>
	</head>


	<body>
		<script type="text/x-handlebars-template" id="header">
			<div class="container navContainer">
				<div class="logo">
					<a href="http://blueapron.com">
						<img src="http://media.blueapron.com/assets/logo/blue-apron-logo@2x-e88a5d59616ee9d85447839a90b8f9b0.png">
					</a>
				</div>
				<div id="nav">
					<ul>
						<li class="border_b">On The Menu</li>
						<li>
							<a href="https://www.blueapron.com/pages/pricing">Pricing</a>
						</li>
						<li>
							<a href="https://www.blueapron.com/market">Market</a>
						</li>
					</ul>
				</div>
				<div class="right_nav">
					<ul>
						<li>
							<a href="http://blueapron.com/users/sign_up">
								<div class="btn">Sign Up</div>
							</a>
						</li>
						<li class="log_in"><a href="http://blueapron.com/users/sign_in">Log In</a></li>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/x-handlebars-template" id="menu">
			<div class="header"></div>
			<div id="loading">
				<div class="loadContainer">
					<img src="http://media.blueapron.com/assets/loader/pot-loader-a096014ae159099e67d206a5aa4a49f3.gif" />
				</div>
			</div>
			<div class="container menuContainer">
				<div class="filters"></div>
			</div>
			<div class="footer"></div>
		</script>

		<script type="text/x-handlebars-template" id="filters">
			<div class="filtersNav">
				<h2 class="align_c">{{ title }} 
					<span class="planDateContainer">
						<span id="planDate">{{ dateFormatted }}</span>
						<span class="arrow_down"></span>
					</span>
				</h2>
				<div class="week_nav week_nav_left {{#if firstWeek}} disabled {{/if}}"></div>
				<div class="week_nav week_nav_right {{#if lastWeek}} disabled {{/if}}"></div>
				<div class="dropdown"></div>
				<div class="plan_buttons">
					<div class="btn couple_btn plan_btn {{#if familyPlan}} btn_grey {{/if}}" data-type="two_person_plan">2-Person Plan</div>
					<div class="btn family_btn {{#if couplePlan}} btn_grey {{/if}} plan_btn" data-type="family_plan">Family Plan</div>
				</div>
			</div>
		</script>

		<script type="text/x-handlebars-template" id="dropdown">
			<ul><div class="dropdown_container"></div></ul>
		</script>

		<script type="text/x-handlebars-template" id="dropdownrow">
			<li>
				{{#if selected}}
				<div class="dropdown_check"></div>
				{{/if}}
				<div class="dropdown_row" data-rowindex="{{index }}">{{ dateFormatted }}</div>
			</li>
		</script>

		<script type="text/x-handlebars-template" id="recipe">
			<a class="recipeLink" href="http://blueapron.com/recipes/{{ slug }}">
				<img class="recipeImg" src="{{ high_menu_thumb_url }}"/>
				{{#if vegetarian}}
				<div class="veggieLeaf">
					<img src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/veggie_tadrr8.png" />
				</div>
				{{/if}}
			</a>
			<div class="card">
				<div class="title">{{ main_title }}</div>
				<div class="description">{{ sub_title }}</div>
			</div>
		</script>

		<script type="text/x-handlebars-template" id="recipeContainer">
			<div class="recipeContainer"></div>
		</script>

		<script type="text/x-handlebars-template" id="row">
			<div class="row">
				{{#if familyPlan}}
				<div class="col-md-2"></div>
				{{/if}}
			</div>
		</script>

		<script type="text/x-handlebars-template" id="footer">
			<div class="container cookbook_link">
				<div class="link"> Want to see all our recipes? Check out our <a href="http://blueapron.com/cookbook">Cookbook</a>.</div>
			</div>
			<div class="footer_container">
				<div class="container">
					<div class="row">
						<div class="press">
							<a class="wall_street" href="http://blueapron.com/pages/press#wall-street-journal"></a>
							<a class="tc" href="http://blueapron.com/pages/press#techcrunch"></a>
							<a class="good_morning" href="http://blueapron.com/pages/press#good-morning-america"></a>
							<a class="nyt" href="http://blueapron.com/pages/press#new-york-times"></a>
						</div>
					</div>
					<div class="row">
						<div class="connected">	
							<div class="col-md-3">
								Follow Us
								<div class="social_icons">
									<a href="http://www.facebook.com/blueapron">
										<span class="social_icon fb"></span>
									</a>
									<a href="http://www.facebook.com/blueapron">
										<span class="social_icon twitter"></span>
									</a>
									<a href="http://www.facebook.com/blueapron">
										<span class="social_icon insta"></span>
									</a>
									<a href="http://www.facebook.com/blueapron">
										<span class="social_icon pin margin_r_0"></span>
									</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="email_signup">
									<div class="title">Get free recipes</div>
									<div class="email_form">
										<input type="text" placeholder="EMAIL ADDRESS" />
										<a href="http://blueapron.com/users/sign_up">
											<div class="btn">Go</div>
										</a>
									</div>
									<div class="email_text">
										<p>A new menu in your inbox every week</p>
									</div>
								</div>
							</div>
							<div class="col-md-3">
							<div class="blog_title">From the Blog</div>
							<div class="blog_img">
								<img src="http://dz6lfdxqpu2f9.cloudfront.net/wp-content/uploads/2015/07/Belfiore-header-75x75.jpg" alt="Belfiore-header-75x75">
							</div>
							<div class="blog_text">
								<a href="http://blog.blueapron.com/how-delicious-italian-cheese-is-crafted/?utm_source=rss&utm_medium=rss&utm_campaign=how-delicious-italian-cheese-is-crafted">
									How Delicious Italian Cheese is Crafted
								</a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="container">
					<div class="row">
						<div class="left">
							<span class="link"><a href="http://blog.blueapron.com/">Blog</a></span>
							<span class="link"><a href="http://support.blueapron.com/">Contact & FAQ</a></span>
							<span class="link"><a href="https://www.blueapron.com/cookbook">Cookbook</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/meet-our-recent-partners">Suppliers</a></span>
							<span class="link"><a href="https://www.blueapron.com/gifts">Gifts</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/jobs">Jobs</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/press">Press</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/team">Team</a></span>	
						</div>
						<div class="floatRight right">
							<span class="link"><a href="http://culverlabs.co">© Culver Labs LLC</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/privacy"=>Privacy</a></span>
							<span class="link"><a href="https://www.blueapron.com/pages/terms">Terms</a></span>
						</div>
					</div>
				</div>
			</div>
		</script>


	</body>

</html>