<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
		<script type="text/javascript" src="/lib/handlebars-v3.0.3.js"></script>
		<script type="text/javascript" src="/lib/backbone.viewmaster.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/models/recipe.js"></script>
		<script type="text/javascript" src="/js/collections/recipes.js"></script>
		<script type="text/javascript" src="/js/views/recipe.js"></script>
		<script type="text/javascript" src="/js/views/row.js"></script>
		<script type="text/javascript" src="/js/views/menu.js"></script>
		<script type="text/javascript" src="/js/views/header.js"></script>
		<script type="text/javascript" src="/js/routers/router.js"></script>
		<link rel="shortcut icon" href="https://www.blueapron.com/favicon.ico" />
		<title>On The Menu</title>
	</head>


	<body>
		<script type="text/x-handlebars-template" id="header">
			<div class="container">
				<div class="logo">
					<a href="http://blueapron.com">
						<img src="http://media.blueapron.com/assets/logo/blue-apron-logo@2x-e88a5d59616ee9d85447839a90b8f9b0.png">
					</a>
				</div>
				<div id="nav">
					<ul>
						<li class="border_b">On The Menu</li>
						<li>
							<a href="https://www.blueapron.com/pages/pricing">Pricing</a>
						</li>
						<li>
							<a href="https://www.blueapron.com/market">Market</a>
						</li>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/x-handlebars-template" id="menu">
			<div class="header"></div>
			<div class="container menuContainer"></div>
		</script>

		<script type="text/x-handlebars-template" id="recipe">
			<a class="recipeLink" href="http://blueapron.com/recipes/{{ slug }}">
				<img class="recipeImg" src="{{ c_main_dish_image.high_feature }}"/>
				{{#if vegetarian}}
				<div class="veggieLeaf">
					<img src="http://res.cloudinary.com/hn5egfnw4/image/upload/v1437958774/veggie_tadrr8.png" />
				</div>
				{{/if}}
			</a>
			<div class="card">
				<div class="title">{{ main_title }}</div>
				<div class="description">{{ sub_title }}</div>
			</div>
		</script>

		<script type="text/x-handlebars-template" id="row">
			<div class="row"></div>
		</script>

	</body>

</html>