
@import url(http://fonts.googleapis.com/css?family=Signika:700,300,400,600);
@import url(http://fonts.googleapis.com/css?family=Arvo);

.menu {
	font-family: "Signika", sans-serif;
	font-weight: 300;
	margin: 0;
	margin-top: 90px;
	color: #2F3566;
}

.emphasis {
	font-weight: 600;
}

#loading {
  	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
}

.loadContainer {
	margin: 0 auto;
	width: 200px;
	margin-top: 80px;
}

.loadContainer img {
	width: 100%;
}

.menu h2 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 0;
}

.align_c {
	text-align: center;
}

.button {
	background-image: linear-gradient(#777a99, #424673, #2f3567);
	border-color: #484769 #484769 #282a52;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 3px 10px;
	cursor: pointer;
	font-size: 16px;
}

.button:hover {
	background-image: none;
	background-color: #313567;
}

/*** end global styles ***/

/** responsive stuff **/

@media (max-width: 990px) {
	.recipeLink {
	    float: none;
	    display: block;
	    max-width: 370px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	}

	.title {
		text-align: center;
	}

	.description {
		text-align: center;
	}

	#nav {
		display: none;
	}

	.header .logo {
		float: none;
		margin: 0 auto;
	}

	.week_nav {
		display: none;
	}


}


/*** end responsive ***/


/** header ***/

.header {
	border-bottom: 1px solid #53587f;
	font-size: 28px;
  	padding-bottom: 5px;
  	width: 100%;
  	height: 66px;
  	position: fixed;
  	z-index: 10;
  	background-color: white;
  	top: 0;
  	padding-top: 3px;
}

.header .container {
	margin-top: 0px;
}

.logo {
	margin-top: 5px;
	width: 105px;
	float: left;
}

.logo img {
	width: 100%;
}

#nav {
	float: left;
	margin-top: 5px;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	cursor: pointer;
	display: inline;
	font-weight: 600;
	font-size: 18px;
	margin-right: 20px;
}

#nav a {
	color: #313567;
}

#nav ul li a:hover {
	border-bottom: 2px solid #CCCCCC;
	text-decoration: none;
}

#nav .border_b {
	border-bottom: 2px solid #313567;
}

/** end header ***/

/** filters **/
.filtersNav {
	max-width: 970px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;
}

.week_nav {
	background: url('http://media.blueapron.com/assets/sprites/icons-2x-sb4c476ab57-29331cca948240f2604d31311840346e.png') no-repeat;
	height: 32px;
	width: 32px;
	background-size: 186px, auto;
	cursor: pointer;
	position: absolute;
}

.week_nav_left {
	background-position: 0 -627px;
	left: 0px;
	top: 0px;
}

.week_nav_right {
	background-position: 0 -659px; 
	right: 0px;
	top: 0px;
}

.week_nav.disabled {
	opacity: .2;
	cursor: default;
}


/** end filters ***/

/** recipes ***/

.container {
	margin-top: 20px;
}

.container .recipe {
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

.veggieLeaf {
	position: absolute;
	right: 25px;
	top: 10px;
}

.recipe .recipeImg {
	width: 100%;
	border: 1px solid #B7B7B7;;
}

.recipe .recipeImg:hover {
	outline: 3px solid #303766;
	border-color: #303766;
}

.recipe .title {
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2em;
	margin-top: 5px;
}

.recipe .description {
	font-size: 14px;
	color: #333;
	margin-bottom: 5px;
	font-style: italic;
	font-family: "Arvo";
}

/** end recipes **/